@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: #eeeeee;
    user-select: none;
}

/* месяцы и годы */
#month-calendar{
    width: 50%;
}

.month{
    margin: 0;
    padding: 3rem 2rem 2rem;
    background: #081355;
    text-align: center;
    width: 100%;
    color: #ffffff;
    list-style: none;
}

.month li{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.month li.prev,
.month li.next{
    cursor: pointer;
}

.month li.prev{
    float: left;
}

.month li.next{
    float: right;
}

.month li.year-name{
    font-size: 1.2rem;
    font-weight: 400;
}

.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa, .fas {
    font-size: 45px;
    font-weight: 900;
}

.fa-angle-double-left:before {
    content: "";
}

.fa-angle-double-right:before {
    content: "";
}

/* дни недели */
.weekdays{
    margin: 0;
    padding: 1rem 0;
    background-color: #609cb2;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}

.weekdays li{
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    font-weight: 700;
}

/* дни #e8e8e8*/
.days{
    margin: 0;
    padding: 1.7rem 0;
    padding-top: 0.2rem;
    background-color: #dddddd;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
}

.days li{
    padding: 0.5rem;
    list-style: none;
    display: inline-block;
    flex: 0 0 calc(100% / 7);
    text-align: center;
    color: #1c1c1c;
    border: 1px solid #a3a3a3;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
    cursor: pointer;
}

.days li.date-now{
    color: #930000;
    font-weight: 900;
}



.text-day {
    background-color: #dddddd;
    margin: 0;
    padding: 5px;
    font-weight: 700;
    text-align: center;
    color: #930000;
}

.content {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.content__text {
    font-weight: 700;
    color: rgb(80, 80, 80);
}

.content__bg {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    border: 2px solid #a3a3a3;
}

.content__bg--1 { 
    background-color: rgb(255, 255, 255); 
}

.content__bg--2 { 
    background-color: rgb(75, 227, 255); 
}

.content__bg--3 { 
    background-color: rgb(80, 80, 80); 
}

.days-text {
    font-weight: 900;
    color: #930000;
    margin: 5px 0;
}

.ZP-clean {
    font-size: 22px;
    color: #0a1863;
    margin-left: 2px;
}

.ZP-dirty {
    font-size: 16px;
    font-weight: 600;
    color: #b9b9b9;
    margin-left: 5px;
}


@media (max-width: 767px) {
    body {
        margin: 0 5px;
        padding: 0;
    }
    
    #month-calendar{
        width: 100%;
        margin-top: 2px;
    }

}
